name: Test

on:
  workflow_dispatch:
    inputs:
      tag-name:
        description: 'Tag name'
        required: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test
        id: test
        uses: ./
        with:
          tag-name: ${{ github.event.inputs.tag-name }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Log
        run: |
          echo ${{ steps.test.outputs.release-notes }}
